.cart{
    display: flex;
    flex: 1;
   }
   
   .cartLeft{
       flex: 1;
       margin: 12px 24px;
       padding: 10px;
   }
   
   .cartContainer{
       display: flex;
       margin-bottom: 20px;
       gap: 16px;
       align-items: center;
       
   }
   .cartDescription{
    
    flex-grow: 1;
   }

   .cartButtons{
    display: flex;
    align-items: center;
    border: 1px solid #d4cece;
    border-radius: 4px;
   }

   .cartButtonContainer{
    display: flex;
    flex-direction: column;
   }

   .cartButton{
    background-color: #f1f1f1;
    padding: 1px;
    outline: none;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    margin-top: 1px;
    margin-left: -17px;
   }

   .leftCartRow{
    flex-shrink: 0;
    display: flex;
    align-items: center;
    gap: 24px;
  }

  .qtyButton{
    padding: 4px 18px;
  }